# Credit Risk Classification

Credit risk poses a classification problem that’s inherently imbalanced. This is because healthy loans easily outnumber risky loans. In this Challenge, you’ll use various techniques to train and evaluate models with imbalanced classes. You’ll use a dataset of historical lending activity from a peer-to-peer lending services company to build a model that can identify the creditworthiness of borrowers.

## Instructions:

This challenge consists of the following subsections:

* Split the Data into Training and Testing Sets

* Create a Logistic Regression Model with the Original Data

* Predict a Logistic Regression Model with Resampled Training Data 

### Split the Data into Training and Testing Sets

Open the starter code notebook and then use it to complete the following steps.

1. Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

2. Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

    > **Note** A value of `0` in the “loan_status” column means that the loan is healthy. A value of `1` means that the loan has a high risk of defaulting.  

3. Check the balance of the labels variable (`y`) by using the `value_counts` function.

4. Split the data into training and testing datasets by using `train_test_split`.

### Create a Logistic Regression Model with the Original Data

Employ your knowledge of logistic regression to complete the following steps:

1. Fit a logistic regression model by using the training data (`X_train` and `y_train`).

2. Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

3. Evaluate the model’s performance by doing the following:

    * Calculate the accuracy score of the model.

    * Generate a confusion matrix.

    * Print the classification report.

4. Answer the following question: How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

### Predict a Logistic Regression Model with Resampled Training Data

Did you notice the small number of high-risk loan labels? Perhaps, a model that uses resampled data will perform better. You’ll thus resample the training data and then reevaluate the model. Specifically, you’ll use `RandomOverSampler`.

To do so, complete the following steps:

1. Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points. 

2. Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

3. Evaluate the model’s performance by doing the following:

    * Calculate the accuracy score of the model.

    * Generate a confusion matrix.

    * Print the classification report.
    
4. Answer the following question: How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

### Write a Credit Risk Analysis Report

For this section, you’ll write a brief report that includes a summary and an analysis of the performance of both machine learning models that you used in this challenge. You should write this report as the `README.md` file included in your GitHub repository.

Structure your report by using the report template that `Starter_Code.zip` includes, and make sure that it contains the following:

1. An overview of the analysis: Explain the purpose of this analysis.


2. The results: Using bulleted lists, describe the balanced accuracy scores and the precision and recall scores of both machine learning models.

3. A summary: Summarize the results from the machine learning models. Compare the two versions of the dataset predictions. Include your recommendation for the model to use, if any, on the original vs. the resampled data. If you don’t recommend either model, justify your reasoning.

In [34]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

import warnings
warnings.filterwarnings('ignore')

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [35]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
lending_data_df=pd.read_csv(
    Path("./Resources/lending_data.csv"))

# Review the DataFrame
# YOUR CODE HERE!
lending_data_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [36]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y_variable_df = lending_data_df["loan_status"]

# Separate the X variable, the features
features_df=lending_data_df.drop(columns='loan_status')

In [37]:
# Review the y variable Series
# YOUR CODE HERE!
y_variable_df

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [38]:
# Review the X variable DataFrame
# YOUR CODE HERE!
features_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [39]:
# Check the balance of our target values
# YOUR CODE HERE!
y_variable_df.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [76]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!
training_features, testing_features, training_targets, testing_targets = train_test_split(features_df, y_variable_df)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [41]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
# YOUR CODE HERE!
lr=logistic_regression_model.fit(training_features, training_targets)

lr
print(training_features)

       loan_size  interest_rate  borrower_income  debt_to_income  \
57501    10500.0          7.594            52100        0.424184
7394      8500.0          6.720            43800        0.315068
12477     9100.0          7.007            46500        0.354839
22362     9800.0          7.273            49000        0.387755
71558    16600.0         10.184            76400        0.607330
...          ...            ...              ...             ...
55037     8500.0          6.725            43900        0.316629
28782    12400.0          8.389            59500        0.495798
66046    10900.0          7.742            53500        0.439252
46982     8600.0          6.765            44300        0.322799
56060    10900.0          7.752            53500        0.439252

       num_of_accounts  derogatory_marks  total_debt
57501                4                 1       22100
7394                 3                 0       13800
12477                3                 0       16500
22362                4                 0       19000
71558               10                 2       46400
...                ...               ...         ...
55037                3                 0       13900
28782                6                 1       29500
66046                5                 1       23500
46982                3                 0       14300
56060                5                 1       23500

[58152 rows x 7 columns]

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [58]:
# Make a prediction using the testing data
# YOUR CODE HERE!
#predictions = lr.predict(training_features) #this line was submitted
predictions = lr.predict(testing_features)
results_df = pd.DataFrame({"Prediction": predictions, "Actual": testing_targets})

results_df

       Prediction  Actual
24922           0       0
45974           0       0
38388           0       0
4998            0       0
56583           0       0
...           ...     ...
20280           0       0
57589           0       0
53026           0       0
74739           0       0
42627           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [59]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
balanced_accuracy_score(testing_targets,predictions)

0.9506776768014507

In [60]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
confusion_matrix(testing_targets, predictions)

array([[18656,    89],
       [   60,   579]], dtype=int64)

In [61]:
# Print the classification report for the model
# YOUR CODE HERE!
testing_targets = [0, 1, 2, 2, 2]
predictions = [0, 0, 2, 2, 1]
target_names = ['class 0', 'class 1', 'class 2']
print(classification_report_imbalanced(testing_targets, predictions, target_names=target_names))

                   pre       rec       spe        f1       geo       iba       sup

    class 0       0.50      1.00      0.75      0.67      0.87      0.77         1
    class 1       0.00      0.00      0.75      0.00      0.00      0.00         1
    class 2       1.00      0.67      1.00      0.80      0.82      0.64         3

avg / total       0.70      0.60      0.90      0.61      0.66      0.54         5

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [16]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
random_oversampler = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!
X_resampled, y_resampled = random_oversampler.fit_resample(training_features,training_targets)

In [18]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!
X_resampled.value_counts()
y_resampled.value_counts()

0    56239
1    56239
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [78]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
lr_resampled=LogisticRegression(random_state=1)
# Fit the model using the resampled training data
# YOUR CODE HERE!
lr_re_fit=lr_resampled.fit(training_features,training_targets)
# Make a prediction using the testing data
# YOUR CODE HERE!
y=lr_re_fit.predict(testing_features)
y_df=pd.DataFrame({"Prediction": y, "Actual": testing_targets})
 
y_df

       Prediction  Actual
64748           0       0
66207           0       0
17164           0       0
10259           0       0
43838           0       0
...           ...     ...
11628           0       0
2391            0       0
9218            0       0
9913            0       0
49617           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [80]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!
balanced_accuracy_score(testing_targets,y)

0.9440301721195814

In [75]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
confusion_matrix(testingg_targets, y)

array([[56002,   289],
       [  182,  1679]], dtype=int64)

In [18]:
# Print the classification report for the model
# YOUR CODE HERE!

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.99      1.00      0.99      0.99     18765
          1       0.84      0.99      0.99      0.91      0.99      0.99       619

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!